<app-page-header title="Stats"></app-page-header>
<div class="container">
  <div class="chart">
    Resolving dumps
    <canvas id="chart1" width="350" height="350"></canvas>
  </div>
  <div class="chart">
    Location of dumps by regions
    <canvas id="chart2" width="350" height="350"></canvas>
  </div>

  <div class="chart">
    Dump reports history
    <canvas id="chart3" width="350" height="350"></canvas>
  </div>

  <div class="chart">
    Chart Name
    <canvas id="chart4" width="350" height="350"></canvas>
  </div>
</div>