.container {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: space-around;
}

.chart {
  margin: 4%;
  flex-grow: 0;
  flex-basis: fit-content;
  text-align: center;
  color: darkslategrey;
  font-weight: bold;
}
