@import "../../../../styles/variables";

:host {
  display: flex;
  border: 1px solid #fcfcfc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 0;
  flex-direction: row;
}

.toggle-button {
  display: flex;
  justify-content: center;
  padding: 16px 25px;
  color: #1b3856;
  font-size: 13px;
  line-height: 13px;
  font-weight: 400;
  letter-spacing: 0.065px;
  text-align: left;
  border: 1px solid #92b9dc;
  box-sizing: border-box;
  background: linear-gradient(180deg, #d8e3f3, #d8e3f3);
  box-shadow: inset 0 1px 0 0px rgba(247, 248, 250, 0.7), inset 0 -1px 0 0px rgba(247, 248, 250, 0.7);
  cursor: pointer;
  user-select: none;
  outline: 0;
  min-width: 50px;

  :host.full-width & {
    flex: 1 0 auto;
  }

  &:hover:not(.active) {
    background: linear-gradient(0deg, #fece99, #fee0b7);
    border-color: #e39c4c;
  }

  &.active {
    background: #e8edf6;
    box-shadow: inset 0px 1px 0px 0px #d5dde4, inset 0px -1px 0px 0px #d5dde4;
  }

  &:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  &:not(:first-child) {
    border-left: none;
  }

  &:last-child:not(:first-child) {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}
