@import '../variables';

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10rem;
  margin-top: 2rem;

  &-left {
    margin-left: 2rem;
  }

  &-right {
    margin-right: 2rem;
  }
}

.title {
  color: #1b3856;
  margin-bottom: 0.8rem;
}