#map {
    background-color: #e3f3df;
    width: 100%;
    height: 60%;
    position: absolute;
    bottom: 0px;
}

.homepage-text {
    display: flex;
    justify-content: center;
}

.container {
    margin-top: 5%;
}

#report {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#report-box {
    width: 10%;
    padding: 1%;
    background-color: darkred;
}