<main>
  <div class="container">
    <p class="homepage-text">Found an illegal dump?</p>
    <p class="homepage-text">Do you care?</p>
    <p class="homepage-text">Tell us and help to clean it up!</p>
  </div>
  <div id="report">
    <div id="report-box">
      Report a dump <br> here & now
    </div>
  </div>
  <section id="map">
    mapa
  </section>
</main>
