@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");

@import "./variables";

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
}

body, mat-sidenav-container, main {
  font-family: 'Open Sans', sans-serif;
  font-size: $default-font-size;
  width: 100%;
  height: 100%;
  background-color: $color-white;
}
