<mat-toolbar color="beige">
  <mat-toolbar-row>
    <a routerLink="home"><img src="../../../../../assets/ForestDump.png" id="logo" alt="ForestDump logo"></a>
    <nav class="naav">
        <ul class="nav">
            <li><a class="nav-item" routerLink="home" routerLinkActive="active-link">Home</a></li>
            <li><a class="nav-item" routerLink="dumps" routerLinkActive="active-link">Dumplist</a></li>
            <li><a class="nav-item" routerLink="stats" routerLinkActive="active-link">Stats</a></li>
        </ul>
      </nav>
  </mat-toolbar-row>
</mat-toolbar>