#logo {
    height: 40px;
    margin-right: 20px;
}

.nav {
    display: flex;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-item {
    padding: 20px;
}

.active-link {
    background-color: #e3f3df;

}